@import url('https://fonts.googleapis.com/css2?family=Princess+Sofia&display=swap');

*{
	margin: 0;
	padding: 0;
}

#dictionary{
	background-image: url("../bg.jpg");
	background-repeat: no-repeat;
	background-color: #00000078;
	background-blend-mode: multiply;
	background-size: cover;
	background-position: center;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#dictionary .container{
	width: 50%;
	background-color: #ffffff;
	border-radius: 2px;
	padding: 20px 60px;
	box-sizing: border-box;
}

#dictionary .container .header{
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-around;
	align-items: center;
}

#dictionary .container .header h1 {
	font-family: 'Princess Sofia', cursive;
	font-size: 30px;
	margin-top: -2px;
	color: #1484c5;
}

#dictionary .container .letters{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0 50px;
}

#dictionary .container .letters input{
	border: 1px solid #b4e4fb;
	outline: none;
	font-family: 'Montserrat', sans-serif;
	padding: 15px 20px;
	width: 100%;
	font-size: 15px;
	box-shadow: 2px 5px 15px #b4e4fb;
	color: #000000;
	background-color: #ffffff;
}

#dictionary .container .inner-div{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 12px;
}

#dictionary .container .inner-div2{
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

#dictionary .container .inner-div .icon {
	background-color: #b4e4fb;
	padding: 15px;
	border-radius: 100%;
}

#dictionary .container .inner-div .icon i{
	font-size: 20px;
	color: #000000;
}

#dictionary .container .inner-div .inputs input {
	border: none;
	outline: none;
	font-family: 'Montserrat', sans-serif;
	padding: 10px 20px;
	width: 100%;
	font-size: 15px;
	box-shadow: 2px 5px 15px #b4e4fb;
	color: #000000;
	background-color: #b4e4fb;
	margin-left: 20px;
	border-radius: 10px;
}

#dictionary .container .inner-div2 .inputs{
	margin: 20px 0;
}

#dictionary .container .inner-div2 .inputs input{
	margin-left: 0px;
	margin-right: 90px;
	width: 80%;
}

#dictionary .container .btn{
	display: flex;
	justify-content: center;
}

#dictionary .container .btn button{
	border: none;
	outline: none;
	font-family: 'Princess Sofia', cursive;
	background-image: linear-gradient(to right, #b4e4fb, #1484c5);
	padding: 5px 190px;
	font-size: 25px;
	color: #000000;
	box-shadow: 2px 5px 15px #1484c5;
	margin: 20px 0;
	transition: 0.5s;
}

#dictionary .container .btn-search button{
	border: none;
	outline: none;
	font-family: 'Princess Sofia', cursive;
	background-image: linear-gradient(to right, #b4e4fb, #1484c5);
	padding: 2px 40px;
	font-size: 25px;
	color: #000000;
	box-shadow: 2px 5px 15px #1484c5;
	margin: 20px 80px;
	transition: 0.5s;
}

#dictionary .container .btn button:hover{
	background-image: none;
	background-color: #ffffff;
	color: #1484c5;
}

#modal{
	height: 100vh;
	width: 100%;
	background-color: #00000090;
    position: absolute;
    top: 0;
    z-index: 2;
	display: none;
}

#modal .modal-container {
	width: 500px;
	box-sizing: border-box;
	margin: auto;
	padding: 40px 0 0;
}

#modal .modal-container .card{
	background-color: #ffffff;
	padding: 40px;
	text-align: center;
	border-radius: 2px;
	margin-bottom: 10px;
}

#modal .modal-container .card h2{
	font-family: 'Princess Sofia', cursive;
	font-size: 35px;
	letter-spacing: 2px;
	color: #1484c5;
	text-shadow: 1px 1px 2px #b4e4fb;
}

#modal .modal-container .card .hr{
	height: 1px;
	width: 100%;
	background-color: #b4e4fb;
	margin: 10px 0;
}

#modal .modal-container .card p{
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 25px;
}

@media only screen and (max-width: 480px){

}

@media screen and (min-device-width: 481px) and (max-device-width: 768px){
	
}